body{
    background-color: blueviolet;
}
.login{
    text-align: right;
}
.image{
    text-align: center;
}
h1{
    text-align: center;
}
.information{
    text-align: center;
}
.document{
    text-align: center;
}
.media{
    text-align: center;
    margin-top: 10px;
}
.link{
    text-align: center;
}
.submit{
    text-align: center;
    margin-top: 10px;
}
nav{
    border: black solid 3px;
}